@model MvcFirmaCagri.Models.Entity.tbl_Cagri
@{
    ViewBag.Title = "AnaSayfa";
    Layout =null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Naturak Ana Sayfa</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/web2/starter/assets/css/style-starter.css">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">

</head>

<body class="sidebar-menu-collapsed bg-dark">
    <section>

        <!-- Navbar Start -->
        <div class="header sticky-header bg-dark">

            <!-- Bildirim Menu Start -->
            <div class="menu-right">
                <div class="navbar user-panel-top">

                    <div class="user-dropdown-details d-flex">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <!-- Cagrilar -->
                                @Html.Action("Partial2", "Default")

                                <!-- Mesajlar -->
                                @Html.Action("Partial1", "Default")
                            </ul>
                        </div>

                        <!-- Profil Menü Start -->
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                                       aria-expanded="false">
                                        <div class="profile_img">
                                            <img src="@ViewBag.firmaGorsel" class="rounded-circle" alt="" />
                                            <div class="user-active">
                                                <span></span>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                        <li class="user-info">
                                            <h5 class="user-name">@ViewBag.firmaAdi</h5>
                                            <span class="status ml-2">Online</span>
                                        </li>
                                        <li> <a href="/Default/AktifCagrilar/"><i class="lnr lnr-users"></i>Aktif Çağrılar</a> </li>
                                        <li> <a href="/Default/PasifCagrilar/"><i class="lnr lnr-users"></i>Pasif Çağrılar</a> </li>
                                        <li> <a href="/Default/YeniCagri/"><i class="lnr lnr-users"></i>Yeni Çağrı</a> </li>
                                        <li> <a href="/Default/ProfilDuzenle/"><i class="lnr lnr-user"></i>Profilimi Düzenle</a> </li>
                                        <li class="logout"> <a href="/Default/LogOut/"><i class="fa fa-power-off"></i> Çıkış Yap</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bildirim End -->
        </div>
        <!-- Navbar End -->
        <!-- Main Start -->
        <div class="main-content bg-dark">
            <!-- Content -->
            <div class="container-fluid content-top-gap">

                <!-- İstatistik Verileri Start -->
                <div class="statistics">
                    <div class="row">
                        <div class="col-xl-6 pr-xl-2 bg-dark">
                            <div class="row">
                                <div class="col-sm-6 pr-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4 bg-dark">
                                        <i class="lnr lnr-users"> </i>
                                        <h3 class="text-primary number">@ViewBag.toplamCagri</h3>
                                        <p class="stat-text">Toplam Sipariş</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4 bg-dark">
                                        <i class="lnr lnr-eye"> </i>
                                        <h3 class="text-secondary number">@ViewBag.toplamAktifCagri</h3>
                                        <p class="stat-text">Devam Eden Siparişler</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 pl-xl-2">
                            <div class="row">
                                <div class="col-sm-6 pr-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4 bg-dark">
                                        <i class="lnr lnr-cloud-download"> </i>
                                        <h3 class="text-success number">@ViewBag.toplamPasifCagri</h3>
                                        <p class="stat-text"> Tamamlanmış Siparişler </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4 bg-dark">
                                        <i class="lnr lnr-cart"> </i>
                                        <h3 class="text-danger number">@ViewBag.sektor</h3>
                                        <p class="stat-text">Sektör</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- İstatistik Verileri End -->

                <!-- Grafikler Start -->
                <div class="chart">
                    <!-- Bar Grafik Start -->
                    <div class="row">
                        <div class="col-lg-6 pr-lg-2 chart-grid">
                            <div class="card text-center card_border">
                                <div class="card-header chart-grid__header bg-dark">
                                    Bar Grafiği
                                </div>
                                <div class="card-body bg-dark">
                                    <!-- bar chart -->
                                    <div id="container">
                                        <canvas id="barchart"></canvas>
                                    </div>
                                    <!-- bar chart -->
                                </div>
                                <div class="card-footer text-muted chart-grid__footer bg-dark">
                                    Şuanlık Grafik Statik
                                </div>
                            </div>
                        </div>
                        <!-- Bar Grafik End-->

                        <!-- Çizgi Grafik Start-->
                        <div class="col-lg-6 pl-lg-2 chart-grid">
                            <div class="card text-center card_border">
                                <div class="card-header chart-grid__header bg-dark">
                                    Line Chart
                                </div>
                                <div class="card-body bg-dark">
                                    <!-- line chart -->
                                    <div id="container">
                                        <canvas id="linechart"></canvas>
                                    </div>
                                    <!-- //line chart -->
                                </div>
                                <div class="card-footer text-muted chart-grid__footer bg-dark">
                                    Şuanlık Grafik Statik
                                </div>
                            </div>
                        </div>
                        <!-- Çizgi Grafik End-->

                    </div>
                </div>
                <!-- Grafikler End-->
                          
            </div>
        </div>
    </section>
    <!-- Main End-->

    <!-- Footer Start-->
    <footer class="dashboard" style="height:123px;">
        <p>
            Tüm Hakları Saklıdır <a href="https://github.com/" target="_blank" class="text-primary">Melanocetus</a> 2024
        </p>
    </footer>
    <!-- Footer End -->

    <!-- Javascirpt -->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }</script>
    <!-- /move top -->

    <script src="~/web2/starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/web2/starter/assets/js/jquery-1.10.2.min.js"></script>
    <!-- chart js -->
    <script src="~/web2/starter/assets/js/Chart.min.js"></script>
    <script src="~/web2/starter/assets/js/utils.js"></script>
    <!-- //chart js -->
    <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
    <script src="~/web2/starter/assets/js/bar.js"></script>
    <script src="~/web2/starter/assets/js/linechart.js"></script>
    <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->

    <script src="~/web2/starter/assets/js/jquery.nicescroll.js"></script>
    <script src="~/web2/starter/assets/js/scripts.js"></script>
    <!-- close script -->
    <script>
        var closebtns = document.getElementsByClassName("close-grid");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function () {
                this.parentElement.style.display = 'none';
            });
        }</script>
    <!-- //close script -->
    <!-- disable body scroll when navbar is in active -->
    <script>
        $(function () {
            $('.sidebar-menu-collapsed').click(function () {
                $('body').toggleClass('noscroll');
            })
        });</script>
    <!-- disable body scroll when navbar is in active -->
    <!-- loading-gif Js -->
    <script src="~/web2/starter/assets/js/modernizr.js"></script>
    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });</script>
    <!--// loading-gif Js -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/web2/starter/assets/js/bootstrap.min.js"></script>
</body>
</html>
