@using MvcFirmaCagri.Models.Entity
@model List<tbl_Mesajlar>
@{
    Layout = "~/Views/Shared/SidebarLayout.cshtml";
}

    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < Model.Count; i++)
        {
            var mesaj = Model[i]; // mesajı alın
            string collapseId = "collapse" + i; // her bir akordeona özel id oluşturun
            string buttonId = "heading" + i; // her butona özel id oluşturun
            <div class="accordion-item">
                <h2 class="accordion-header" id="@buttonId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                        @(i+1) - Firma: @mesaj.tbl_Firmalar1.FIRMA_ADI - Konu: @mesaj.KONU - Tarih: @(mesaj.TARIH.Value.ToString("dd-MM-yyyy"))
                    </button>
                </h2>
                <div id="@collapseId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <pre>@mesaj.MESAJ</pre>
                    </div>
                </div>
            </div>
        }
    </div>